/* Footer.css */  
.leftSide {
  display: inline-flex; 
}
.rigthSide { 
  display: inline-flex; 
  line-height: 20px;
  font-size: 1.2vw;
  margin-left: 90px;
} 
.rigthSide h3 {
  text-align: right;
}  
.circle {
  /* width: 35px;
  height: 35px; */
  width: 1.8vw;
  height: 1.8vw;
  border: 1px solid gray;
  background-color: #00af49; /* Replace desired background color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; /* Text color */
  /* Text size */
  /* font-size: 18px;  */
  font-size: 1.3vw; /* Text size */
}
.footer-left-content {
  color: black;
  /**based on partitionA*/ 
  /* width: 525px;  */  
  position: absolute;
  clear: both;
  height: 100%; 
  padding-left: 20px;
} 
.footer {
  margin-top: -71px;
  animation: fadeInUp 1s ease;
  height: 71px; /**footer height*/  
  position: relative;
  display: flex; 
  z-index: 1;
  left:0; 
  /**fixed width*/
  /* width: 1980px;  */ 
}

.footer p {
  margin: 0;
  padding: 0;
}
