/* MainContent.css */
.main-content {
    text-align: center;
    padding: 3rem;
    background-color: #eee;
    animation: fadeIn 1s ease;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  } 
  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    .main-content {
      padding: 2rem;
    }
  }
  
  @media only screen and (max-width: 400px) {
    .main-content {
      padding: 1rem;
    }
  }
  